#canvas
{
    
    padding: 0;
    margin: auto;
    display: block;
    
   
    margin: 0 !important;
    padding: 0 !important;
    
}

#gameName
{   
    font-family: Gill Sans, serif;
    color: blue;
    font-weight: bold;
    font-variant: small-caps;

}