#canvas
{
    
    padding: 0;
    margin: auto;
    display: block;
    
   
    margin: 0 !important;
    padding: 0 !important;
}

#gameName
{   
    font-family: fantasy;
    color: rgb(3, 68, 187);
    font-weight: bold;
    position: absolute;
    font-size: xx-large;
    text-align: center;

}

#Stats
{
    position: absolute;
}

